# disable BOM auto-adding, force UTF-8
*.py text working-tree-encoding=UTF-8
*.sql text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
evaluation/** text eol=lf working-tree-encoding=UTF-8
